<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.7.54 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="P0210_SDM_HW_Overview">
  <Property Name="BackColor" Value="8"/>
  <Property Name="Description" Value=""/>
  <Property Name="EditBackColor" Value="7"/>
  <Property Name="ForeColor" Value="8"/>
  <Property Name="Height" Value="768"/>
  <Property Name="Index" Value="210"/>
  <Property Name="LockedForeColor" Value="252"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
  <Property Name="Width" Value="1366"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Background]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Background"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[globalArea]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="globalArea"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="768"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1366"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <TextLayer LanguageId="tr-TR"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001014" Name="Html_SDM">
          <Property Name="AllowAutoRefresh" Value="Yes"/>
          <Property Name="BackColor" Value="15"/>
          <Property Name="ChangeURLDatapoint" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="CurrentTitleDatapoint" Value="None"/>
          <Property Name="CurrentURLDatapoint" Value="None"/>
          <Property Name="DefaultURLs" Value="None"/>
          <Property Name="Description" Value=""/>
          <Property Name="HTMLStream" Value="None"/>
          <Property Name="Height" Value="581"/>
          <Property Name="Left" Value="139"/>
          <Property Name="RenderEngine" Value="Automatic"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="177"/>
          <Property Name="Width" Value="1087"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <LayerRef Source="Source[local].Layer[msgBox]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="msgBox"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="3"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Common_UserLogin]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Common_UserLogin"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="4"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Common_TopMenu]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Common_TopMenu"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="5"/>
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrPPM]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Html_SDM]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrCamIn]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrCamIn]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Html_SDM]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrCamOut]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Html_SDM]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrCamIn]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrProductLength]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Html_SDM]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[AlarmCurrent]">
      <Property Name="Down" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Html_SDM]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Html_SDM]">
      <Property Name="Down" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
      <Property Name="Right" Value="Source[local].Layer[Common_UserLogin].Control[String_Password]"/>
      <Property Name="Up" Value="Source[local].Layer[Common_UserLogin].Control[String_Password]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Common_UserLogin].Control[String_Password]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Html_SDM]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Html_SDM]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
      <Property Name="Up" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Common_UserLogin].Control[stiUsername]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Html_SDM]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Html_SDM]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[Html_SDM]"/>
    <TabSeqItem Index="2" Value="Source[local].Layer[Common_UserLogin].Control[String_Password]"/>
    <TabSeqItem Index="3" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
    <TabSeqItem Index="4" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
    <TabSeqItem Index="5" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
    <TabSeqItem Index="6" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
    <TabSeqItem Index="7" Value="Source[local].Layer[globalArea].Control[nmrCamIn]"/>
    <TabSeqItem Index="8" Value="Source[local].Layer[globalArea].Control[nmrPPM1]"/>
  </TabSequence>
</Page>