<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.7.54 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="P0230_NetworkSettings">
  <Property Name="BackColor" Value="8"/>
  <Property Name="Description" Value=""/>
  <Property Name="EditBackColor" Value="7"/>
  <Property Name="ForeColor" Value="8"/>
  <Property Name="Height" Value="768"/>
  <Property Name="Index" Value="230"/>
  <Property Name="LockedForeColor" Value="252"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
  <Property Name="Width" Value="1366"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Background]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Background"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[globalArea]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="globalArea"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="768"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1366"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <TextLayer LanguageId="tr-TR"/>
        <IndexMap/>
      </TextGroup>
      <Controls/>
      <KeyMapping/>
    </Layer>
    <Layer Name="PasswordUnprotected">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="768"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1366"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <TextLayer LanguageId="tr-TR"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="txtFTP">
          <Property Name="Border" Value="Source[local].Border[GroupControl]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle]"/>
          <Property Name="Height" Value="419"/>
          <Property Name="Left" Value="696"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtNetworkSettingPage]"/>
          <Property Name="TextIndexOffset" Value="6"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="268"/>
          <Property Name="Width" Value="454"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtActIp">
          <Property Name="Border" Value="Source[local].Border[GroupControl]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle]"/>
          <Property Name="Height" Value="169"/>
          <Property Name="Left" Value="232"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtSingle]"/>
          <Property Name="TextIndexOffset" Value="23"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="268"/>
          <Property Name="Width" Value="454"/>
        </Control>
        <Control ClassId="0x0000100B" Name="IPAddress6">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="406"/>
          <Property Name="MaxChars" Value="20"/>
          <Property Name="SimulationValue" Value="192.168.05.20"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="316"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="Width" Value="250"/>
        </Control>
        <Control ClassId="0x0000100B" Name="IPAddress7">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="406"/>
          <Property Name="MaxChars" Value="20"/>
          <Property Name="SimulationValue" Value="255.255.255.0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="376"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="Width" Value="250"/>
        </Control>
        <Control ClassId="0x0000100B" Name="IPAddress10">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="40"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMode" Value="Auto"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTabSize" Value="0"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[AlphaPad]"/>
          <Property Name="Left" Value="869"/>
          <Property Name="Locking" Value="Datapoint &gt;= Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="MaxChars" Value="50"/>
          <Property Name="SimulationValue" Value="192.168.5.33"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="316"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="Width" Value="250"/>
        </Control>
        <Control ClassId="0x0000100B" Name="IPAddress11">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="40"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMode" Value="Auto"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTabSize" Value="0"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[AlphaPad]"/>
          <Property Name="Left" Value="869"/>
          <Property Name="Locking" Value="Datapoint &gt;= Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="MaxChars" Value="50"/>
          <Property Name="SimulationValue" Value="WORKGROUP"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="376"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="Width" Value="250"/>
        </Control>
        <Control ClassId="0x0000100B" Name="IPAddress12">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="40"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMode" Value="Auto"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTabSize" Value="0"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[AlphaPad]"/>
          <Property Name="Left" Value="869"/>
          <Property Name="Locking" Value="Datapoint &gt;= Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="MaxChars" Value="50"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="437"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="Width" Value="250"/>
        </Control>
        <Control ClassId="0x0000100B" Name="IPAddress13">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="40"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMode" Value="Auto"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTabSize" Value="0"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[AlphaPad]"/>
          <Property Name="Left" Value="869"/>
          <Property Name="Locking" Value="Datapoint &gt;= Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="MaxChars" Value="50"/>
          <Property Name="SimulationValue" Value="BR_PLC"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="497"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="Width" Value="250"/>
        </Control>
        <Control ClassId="0x0000100B" Name="IPAddress14">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="40"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMode" Value="Auto"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTabSize" Value="0"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[AlphaPad]"/>
          <Property Name="Left" Value="869"/>
          <Property Name="Locking" Value="Datapoint &gt;= Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="MaxChars" Value="50"/>
          <Property Name="SimulationValue" Value="1234"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="556"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="Width" Value="250"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtAddress">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="267"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtSingle]"/>
          <Property Name="TextIndexOffset" Value="25"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="316"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtSubnetMask">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="267"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtSingle]"/>
          <Property Name="TextIndexOffset" Value="26"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="376"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtServer">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="730"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtNetworkSettingPage]"/>
          <Property Name="TextIndexOffset" Value="1"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="316"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtWorkgroup">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="730"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtNetworkSettingPage]"/>
          <Property Name="TextIndexOffset" Value="2"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="376"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDirName">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="730"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtNetworkSettingPage]"/>
          <Property Name="TextIndexOffset" Value="3"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="437"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtUsername">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="730"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtNetworkSettingPage]"/>
          <Property Name="TextIndexOffset" Value="4"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="497"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtPassword">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="730"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtNetworkSettingPage]"/>
          <Property Name="TextIndexOffset" Value="5"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="556"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_LogToChange">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="Height" Value="44"/>
          <Property Name="Left" Value="236"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtSingle]"/>
          <Property Name="TextIndexOffset" Value="27"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="536"/>
          <Property Name="Width" Value="412"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_NwSettings">
          <Property Name="Bitmap" Value="Source[local].Bitmap[Network_setting_50px]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="54"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="426"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="470"/>
          <Property Name="Width" Value="62"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="PasswordProtected">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="768"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1366"/>
      <Property Name="Z-Order" Value="4"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <TextLayer LanguageId="tr-TR"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="txtNewIp">
          <Property Name="Border" Value="Source[local].Border[GroupControl]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle]"/>
          <Property Name="Height" Value="241"/>
          <Property Name="Left" Value="232"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtSingle]"/>
          <Property Name="TextIndexOffset" Value="24"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="446"/>
          <Property Name="Width" Value="454"/>
        </Control>
        <Control ClassId="0x0000100B" Name="IPAddress8">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="40"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMode" Value="Auto"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTabSize" Value="0"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[AlphaPad]"/>
          <Property Name="Left" Value="406"/>
          <Property Name="Locking" Value="Datapoint &gt;= Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="MaxChars" Value="20"/>
          <Property Name="SimulationValue" Value="192.168.05.50"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="497"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="Width" Value="250"/>
        </Control>
        <Control ClassId="0x0000100B" Name="IPAddress9">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="40"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMode" Value="Auto"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTabSize" Value="0"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[AlphaPad]"/>
          <Property Name="Left" Value="406"/>
          <Property Name="Locking" Value="Datapoint &gt;= Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="MaxChars" Value="20"/>
          <Property Name="SimulationValue" Value="255.255.255.255"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="556"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="Width" Value="250"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtAddress1">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="267"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtSingle]"/>
          <Property Name="TextIndexOffset" Value="25"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="497"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtSubnetMask1">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="267"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtSingle]"/>
          <Property Name="TextIndexOffset" Value="26"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="556"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_SetDefIP">
          <Property Name="BackColor" Value="45"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="67"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="267"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="2"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="PressedBackColor" Value="148"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Sunken]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtSingle2]"/>
          <Property Name="TextIndex" Value="16"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="609"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[vkNetworkSetIP]"/>
          <Property Name="Width" Value="180"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_SetNewIp">
          <Property Name="BackColor" Value="45"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="66"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="476"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="2"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="PressedBackColor" Value="148"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Sunken]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtSingle2]"/>
          <Property Name="TextIndex" Value="17"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="609"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[vkSetNewIP]"/>
          <Property Name="Width" Value="180"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="vkNetworkSetIP">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="None"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="vkSetNewIP">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="None"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <LayerRef Source="Source[local].Layer[Common_UserLogin]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Common_UserLogin"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="5"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Common_TopMenu]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Common_TopMenu"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="6"/>
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrPPM]">
      <Property Name="Down" Value="Source[embedded].Layer[PasswordProtected].Control[IPAddress8]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrCamIn]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrCamIn]">
      <Property Name="Down" Value="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress10]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrCamOut]">
      <Property Name="Down" Value="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress10]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrCamIn]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrProductLength]">
      <Property Name="Down" Value="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress10]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[AlarmCurrent]">
      <Property Name="Down" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Up" Value="Source[embedded].Layer[PasswordProtected].Control[IPAddress9]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress10]">
      <Property Name="Down" Value="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress11]"/>
      <Property Name="Left" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[nmrCamIn]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress11]">
      <Property Name="Down" Value="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress12]"/>
      <Property Name="Left" Value="Source[local].Layer[Common_UserLogin].Control[String_Password]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
      <Property Name="Up" Value="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress10]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress12]">
      <Property Name="Down" Value="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress13]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
      <Property Name="Up" Value="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress11]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress13]">
      <Property Name="Down" Value="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress14]"/>
      <Property Name="Left" Value="Source[embedded].Layer[PasswordProtected].Control[IPAddress8]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
      <Property Name="Up" Value="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress12]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress14]">
      <Property Name="Down" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
      <Property Name="Left" Value="Source[embedded].Layer[PasswordProtected].Control[IPAddress9]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
      <Property Name="Up" Value="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress13]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[PasswordProtected].Control[IPAddress8]">
      <Property Name="Down" Value="Source[embedded].Layer[PasswordProtected].Control[IPAddress9]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Right" Value="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress13]"/>
      <Property Name="Up" Value="Source[local].Layer[Common_UserLogin].Control[String_Password]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[PasswordProtected].Control[IPAddress9]">
      <Property Name="Down" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Right" Value="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress14]"/>
      <Property Name="Up" Value="Source[embedded].Layer[PasswordProtected].Control[IPAddress8]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Common_UserLogin].Control[String_Password]">
      <Property Name="Down" Value="Source[embedded].Layer[PasswordProtected].Control[IPAddress8]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Right" Value="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress11]"/>
      <Property Name="Up" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Common_UserLogin].Control[stiUsername]">
      <Property Name="Down" Value="Source[local].Layer[Common_UserLogin].Control[String_Password]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Right" Value="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress10]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[PasswordProtected].Control[IPAddress8]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[PasswordProtected].Control[IPAddress9]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress6]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress7]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress10]"/>
    <TabSeqItem Index="6" Value="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress11]"/>
    <TabSeqItem Index="7" Value="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress12]"/>
    <TabSeqItem Index="8" Value="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress13]"/>
    <TabSeqItem Index="9" Value="Source[embedded].Layer[PasswordUnprotected].Control[IPAddress14]"/>
    <TabSeqItem Index="10" Value="Source[local].Layer[Common_UserLogin].Control[String_Password]"/>
    <TabSeqItem Index="11" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
    <TabSeqItem Index="12" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
    <TabSeqItem Index="13" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
    <TabSeqItem Index="14" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
    <TabSeqItem Index="15" Value="Source[local].Layer[globalArea].Control[nmrCamIn]"/>
    <TabSeqItem Index="16" Value="Source[local].Layer[globalArea].Control[nmrPPM1]"/>
  </TabSequence>
</Page>