<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.7.54 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="P0260_SystemInformation">
  <Property Name="BackColor" Value="8"/>
  <Property Name="Description" Value=""/>
  <Property Name="EditBackColor" Value="7"/>
  <Property Name="ForeColor" Value="8"/>
  <Property Name="Height" Value="768"/>
  <Property Name="Index" Value="260"/>
  <Property Name="LockedForeColor" Value="252"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
  <Property Name="Width" Value="1366"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Background]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Background"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[globalArea]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="globalArea"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="768"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1366"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <TextLayer LanguageId="tr-TR"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="txtRuntimeVersions">
          <Property Name="Border" Value="Source[local].Border[GroupControl]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="Height" Value="268"/>
          <Property Name="Left" Value="540"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtSystemInfo]"/>
          <Property Name="TextIndexOffset" Value="20"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="351"/>
          <Property Name="Width" Value="282"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtMachineVersion">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Big26]"/>
          <Property Name="Height" Value="55"/>
          <Property Name="Left" Value="457"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtSystemInfo]"/>
          <Property Name="TextIndexOffset" Value="1"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="243"/>
          <Property Name="Width" Value="465"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtMC">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="Height" Value="39"/>
          <Property Name="Left" Value="559"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="Task Name"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtSystemInfo]"/>
          <Property Name="TextIndexOffset" Value="30"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="411"/>
          <Property Name="Width" Value="101"/>
        </Control>
        <Control ClassId="0x0000100B" Name="strMC">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="39"/>
          <Property Name="Left" Value="659"/>
          <Property Name="SimulationValue" Value="V 1.00.6"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="411"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="Width" Value="146"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtVC">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="Height" Value="39"/>
          <Property Name="Left" Value="559"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="Task Name"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtSystemInfo]"/>
          <Property Name="TextIndexOffset" Value="32"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="461"/>
          <Property Name="Width" Value="101"/>
        </Control>
        <Control ClassId="0x0000100B" Name="strVC">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="39"/>
          <Property Name="Left" Value="659"/>
          <Property Name="SimulationValue" Value="V 1.00.6"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="461"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="Width" Value="146"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtMapp">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="Height" Value="39"/>
          <Property Name="Left" Value="559"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="Task Name"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtSystemInfo]"/>
          <Property Name="TextIndexOffset" Value="3"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="510"/>
          <Property Name="Width" Value="101"/>
        </Control>
        <Control ClassId="0x0000100B" Name="strMapp">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="39"/>
          <Property Name="Left" Value="659"/>
          <Property Name="SimulationValue" Value="V 1.00.6"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="510"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="Width" Value="146"/>
        </Control>
        <Control ClassId="0x0000100B" Name="strMAchineVer">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="39"/>
          <Property Name="Left" Value="762"/>
          <Property Name="SimulationValue" Value="V 1.00.6"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="251"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="Width" Value="146"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtBuildDate">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle_13]"/>
          <Property Name="Height" Value="39"/>
          <Property Name="Left" Value="559"/>
          <Property Name="Multiline" Value="Manual"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="Task Name"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtSystemInfo]"/>
          <Property Name="TextIndexOffset" Value="29"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="559"/>
          <Property Name="Width" Value="101"/>
        </Control>
        <Control ClassId="0x0000100B" Name="strBuildDate">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="39"/>
          <Property Name="Left" Value="659"/>
          <Property Name="SimulationValue" Value="V 1.00.6"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="559"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="Width" Value="146"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <LayerRef Source="Source[local].Layer[msgBox]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="msgBox"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="3"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Common_UserLogin]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Common_UserLogin"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="4"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Common_TopMenu]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Common_TopMenu"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="5"/>
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrPPM]">
      <Property Name="Down" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrCamIn]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrCamIn]">
      <Property Name="Down" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrCamOut]">
      <Property Name="Down" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrCamIn]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrProductLength]">
      <Property Name="Down" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[AlarmCurrent]">
      <Property Name="Down" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Up" Value="Source[local].Layer[Common_UserLogin].Control[String_Password]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Common_UserLogin].Control[String_Password]">
      <Property Name="Down" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
      <Property Name="Up" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Common_UserLogin].Control[stiUsername]">
      <Property Name="Down" Value="Source[local].Layer[Common_UserLogin].Control[String_Password]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[strMC]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[strVC]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[strMapp]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[strMAchineVer]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[strBuildDate]"/>
    <TabSeqItem Index="6" Value="Source[local].Layer[Common_UserLogin].Control[String_Password]"/>
    <TabSeqItem Index="7" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
    <TabSeqItem Index="8" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
    <TabSeqItem Index="9" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
    <TabSeqItem Index="10" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
    <TabSeqItem Index="11" Value="Source[local].Layer[globalArea].Control[nmrCamIn]"/>
    <TabSeqItem Index="12" Value="Source[local].Layer[globalArea].Control[nmrPPM1]"/>
  </TabSequence>
</Page>