<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.7.54 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="P0313_MotionStatus">
  <Property Name="Description" Value=""/>
  <Property Name="EditBackColor" Value="7"/>
  <Property Name="ForeColor" Value="8"/>
  <Property Name="Height" Value="768"/>
  <Property Name="Index" Value="313"/>
  <Property Name="LockedForeColor" Value="252"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
  <Property Name="Width" Value="1366"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Background]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Background"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[globalArea]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="globalArea"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="768"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1366"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="98409" Value=""/>
          <Text ID="98429" Value=""/>
          <Text ID="98430" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="98409" Value=""/>
          <Text ID="98429" Value=""/>
          <Text ID="98430" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="tr-TR">
          <Text ID="98409" Value=""/>
          <Text ID="98429" Value=""/>
          <Text ID="98430" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="98409" Value="49"/>
          <Index ID="98429" Value="69"/>
          <Index ID="98430" Value="70"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="txtShp1">
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="515"/>
          <Property Name="Left" Value="407"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="49"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="241"/>
          <Property Name="Width" Value="121"/>
        </Control>
        <Control ClassId="0x00001002" Name="btn1">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="59"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="407"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="179"/>
          <Property Name="VirtualKey" Value="None"/>
          <Property Name="Width" Value="121"/>
        </Control>
        <Control ClassId="0x00001002" Name="btn3">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="59"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="572"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="179"/>
          <Property Name="VirtualKey" Value="None"/>
          <Property Name="Width" Value="121"/>
        </Control>
        <Control ClassId="0x00001002" Name="btn4">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="59"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="734"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="179"/>
          <Property Name="VirtualKey" Value="None"/>
          <Property Name="Width" Value="121"/>
        </Control>
        <Control ClassId="0x00001004" Name="TxtHoming">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="7"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Middle_13]"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="200"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtMotionStatus]"/>
          <Property Name="TextIndexOffset" Value="10"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="282"/>
          <Property Name="Width" Value="190"/>
        </Control>
        <Control ClassId="0x00001004" Name="TxtControler">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="7"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Middle_13]"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="200"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtMotionStatus]"/>
          <Property Name="TextIndexOffset" Value="11"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="318"/>
          <Property Name="Width" Value="190"/>
        </Control>
        <Control ClassId="0x00001004" Name="TxtActPos">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="7"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Middle_13]"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="200"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtMotionStatus]"/>
          <Property Name="TextIndexOffset" Value="14"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="390"/>
          <Property Name="Width" Value="190"/>
        </Control>
        <Control ClassId="0x00001004" Name="TxtActSpeed">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="7"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Middle_13]"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="200"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtMotionStatus]"/>
          <Property Name="TextIndexOffset" Value="15"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="426"/>
          <Property Name="Width" Value="190"/>
        </Control>
        <Control ClassId="0x00001004" Name="TxtEnable">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="7"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Middle_13]"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="200"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtMotionStatus]"/>
          <Property Name="TextIndexOffset" Value="16"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="462"/>
          <Property Name="Width" Value="190"/>
        </Control>
        <Control ClassId="0x00001004" Name="TxtTrig1">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="7"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Middle_13]"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="200"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtMotionStatus]"/>
          <Property Name="TextIndexOffset" Value="17"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="498"/>
          <Property Name="Width" Value="190"/>
        </Control>
        <Control ClassId="0x00001004" Name="TxtTrig2">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="7"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Middle_13]"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="200"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtMotionStatus]"/>
          <Property Name="TextIndexOffset" Value="18"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="534"/>
          <Property Name="Width" Value="190"/>
        </Control>
        <Control ClassId="0x00001004" Name="TxtPosEnd">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="7"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Middle_13]"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="200"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtMotionStatus]"/>
          <Property Name="TextIndexOffset" Value="19"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="570"/>
          <Property Name="Width" Value="190"/>
        </Control>
        <Control ClassId="0x00001004" Name="TxtNegEnd">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="7"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Middle_13]"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="200"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtMotionStatus]"/>
          <Property Name="TextIndexOffset" Value="20"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="606"/>
          <Property Name="Width" Value="190"/>
        </Control>
        <Control ClassId="0x00001004" Name="TxtAlarm">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="7"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Middle_13]"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="200"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtMotionStatus]"/>
          <Property Name="TextIndexOffset" Value="22"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="696"/>
          <Property Name="Width" Value="122"/>
        </Control>
        <Control ClassId="0x00001004" Name="TxtSimulation">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="7"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Middle_13]"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="200"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtMotionStatus]"/>
          <Property Name="TextIndexOffset" Value="12"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="354"/>
          <Property Name="Width" Value="190"/>
        </Control>
        <Control ClassId="0x00001004" Name="TxtRefSwitch">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="7"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Middle_13]"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="200"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtMotionStatus]"/>
          <Property Name="TextIndexOffset" Value="21"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="646"/>
          <Property Name="Width" Value="190"/>
        </Control>
        <Control ClassId="0x00001004" Name="TxtActPos1">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="7"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Middle_13]"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="200"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtMotionStatus]"/>
          <Property Name="TextIndexOffset" Value="13"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="246"/>
          <Property Name="Width" Value="190"/>
        </Control>
        <Control ClassId="0x00001004" Name="TxtName">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="7"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Middle_13]"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="200"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtMotionStatus]"/>
          <Property Name="TextIndexOffset" Value="5"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="183"/>
          <Property Name="Width" Value="135"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtShp2">
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="515"/>
          <Property Name="Left" Value="572"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="69"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="241"/>
          <Property Name="Width" Value="121"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtShp3">
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="515"/>
          <Property Name="Left" Value="734"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="70"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="241"/>
          <Property Name="Width" Value="121"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_HomingAxis0">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpPair]"/>
          <Property Name="BitmapIndex" Value="2"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="32"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="450"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="282"/>
          <Property Name="Width" Value="32"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_HomingAxis1">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpPair]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="32"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="450"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="320"/>
          <Property Name="Width" Value="32"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_HomingAxis2">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpPair]"/>
          <Property Name="BitmapIndex" Value="2"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="32"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="616"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="282"/>
          <Property Name="Width" Value="32"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_HomingAxis3">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpPair]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="32"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="616"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="320"/>
          <Property Name="Width" Value="32"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_HomingAxis4">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpPair]"/>
          <Property Name="BitmapIndex" Value="2"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="32"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="778"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="282"/>
          <Property Name="Width" Value="32"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_HomingAxis5">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpPair]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="32"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="778"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="320"/>
          <Property Name="Width" Value="32"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_Pos10">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="418"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="800"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="246"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_Pos11">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="582"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="800"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="246"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_Pos12">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="744"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="800"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="246"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_Pos0">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="416"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="800"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="392"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_Pos1">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="582"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="800"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="392"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_Pos2">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="744"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="800"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="392"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_Speed0">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="416"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="100"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="427"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_Speed1">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="582"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="100"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="427"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_Speed2">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="744"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="100"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="427"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_Enable0">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpD0_STATE]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="22"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="455"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="465"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_Trig1_0">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpD0_STATE]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="22"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="455"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="503"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_Trig2_0">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpD0_STATE]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="22"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="455"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="539"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_PosEnd_0">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpD0_STATE]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="22"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="455"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="575"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_NegEnd_0">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpD0_STATE]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="22"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="455"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="613"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_NegEnd_1">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpD0_STATE]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="22"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="455"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="652"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_Enable1">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpD0_STATE]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="22"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="621"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="465"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_Trig1_1">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpD0_STATE]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="22"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="621"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="503"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_Trig2_1">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpD0_STATE]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="22"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="621"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="539"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_PosEnd_1">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpD0_STATE]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="22"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="621"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="575"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_NegEnd_2">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpD0_STATE]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="22"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="621"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="613"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_NegEnd_3">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpD0_STATE]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="22"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="621"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="652"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_Enable2">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpD0_STATE]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="22"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="783"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="465"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_Trig1_2">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpD0_STATE]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="22"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="783"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="503"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_Trig2_2">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpD0_STATE]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="22"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="783"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="539"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_PosEnd_2">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpD0_STATE]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="22"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="783"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="575"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_NegEnd_4">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpD0_STATE]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="22"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="783"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="613"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_NegEnd_5">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpD0_STATE]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="22"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="783"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="652"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_AlarmAxis1">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmAlarm]"/>
          <Property Name="BitmapIndex" Value="7"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="64"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="617"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="681"/>
          <Property Name="Width" Value="31"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_AlarmAxis2">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmAlarm]"/>
          <Property Name="BitmapIndex" Value="7"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="64"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="779"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="681"/>
          <Property Name="Width" Value="30"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_AlarmAxis0">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmAlarm]"/>
          <Property Name="BitmapIndex" Value="7"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="64"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="451"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="681"/>
          <Property Name="Width" Value="30"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_Axis0">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="72"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="426"/>
          <Property Name="Locking" Value="Datapoint &gt;= Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="677"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[vkHsAlarmPage]"/>
          <Property Name="Width" Value="79"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_Axis1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="72"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="590"/>
          <Property Name="Locking" Value="Datapoint &gt;= Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="677"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[vkHsAlarmPage]"/>
          <Property Name="Width" Value="79"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_Axis2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="72"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="757"/>
          <Property Name="Locking" Value="Datapoint &gt;= Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="677"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[vkHsAlarmPage]"/>
          <Property Name="Width" Value="79"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_Enable5">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpD0_STATE]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="22"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="456"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="362"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_Enable6">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpD0_STATE]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="22"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="622"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="362"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_Enable7">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpD0_STATE]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="22"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="784"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="362"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001018" Name="drpAxList">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="40"/>
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="Height" Value="24"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="409"/>
          <Property Name="LeftBitmap" Value="None"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="Locking" Value="Datapoint &gt;= Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="55"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="0"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtServoMotorsName]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="186"/>
          <Property Name="Width" Value="114"/>
        </Control>
        <Control ClassId="0x00001018" Name="drpAxList1">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="40"/>
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="Height" Value="24"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="575"/>
          <Property Name="LeftBitmap" Value="None"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="Locking" Value="Datapoint &gt;= Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="55"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="0"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtServoMotorsName]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="186"/>
          <Property Name="Width" Value="114"/>
        </Control>
        <Control ClassId="0x00001018" Name="drpAxList2">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="40"/>
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="Height" Value="24"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="737"/>
          <Property Name="LeftBitmap" Value="None"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="Locking" Value="Datapoint &gt;= Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="10"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="0"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtServoMotorsName]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="186"/>
          <Property Name="Width" Value="114"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="vkHsAlarmPage">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[P0910_Alarm]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="vkAxisLeft">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016B">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="None"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="vkAxisRight">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016B">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="None"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <LayerRef Source="Source[local].Layer[msgBox]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="msgBox"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="3"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Common_UserLogin]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Common_UserLogin"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="4"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Common_TopMenu]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Common_TopMenu"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="5"/>
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrPPM]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[drpAxList]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrCamIn]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrCamIn]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[drpAxList2]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrCamOut]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[drpAxList2]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrCamIn]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrProductLength]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[drpAxList]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[AlarmCurrent]">
      <Property Name="Down" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Up" Value="Source[local].Layer[Common_UserLogin].Control[String_Password]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[drpAxList]">
      <Property Name="Down" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[drpAxList1]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[drpAxList1]">
      <Property Name="Down" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[drpAxList]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[drpAxList2]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[drpAxList2]">
      <Property Name="Down" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[drpAxList1]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrCamIn]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Common_UserLogin].Control[String_Password]">
      <Property Name="Down" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
      <Property Name="Up" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Common_UserLogin].Control[stiUsername]">
      <Property Name="Down" Value="Source[local].Layer[Common_UserLogin].Control[String_Password]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[drpAxList1]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[Numeric_Pos10]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[Numeric_Pos11]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[Numeric_Pos12]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[Numeric_Pos0]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[Numeric_Pos1]"/>
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Default].Control[Numeric_Pos2]"/>
    <TabSeqItem Index="7" Value="Source[embedded].Layer[Default].Control[Numeric_Speed0]"/>
    <TabSeqItem Index="8" Value="Source[embedded].Layer[Default].Control[Numeric_Speed1]"/>
    <TabSeqItem Index="9" Value="Source[embedded].Layer[Default].Control[Numeric_Speed2]"/>
    <TabSeqItem Index="10" Value="Source[local].Layer[Common_UserLogin].Control[String_Password]"/>
    <TabSeqItem Index="11" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
    <TabSeqItem Index="12" Value="Source[embedded].Layer[Default].Control[drpAxList]"/>
    <TabSeqItem Index="13" Value="Source[embedded].Layer[Default].Control[drpAxList1]"/>
    <TabSeqItem Index="14" Value="Source[embedded].Layer[Default].Control[drpAxList2]"/>
    <TabSeqItem Index="15" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
    <TabSeqItem Index="16" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
    <TabSeqItem Index="17" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
    <TabSeqItem Index="18" Value="Source[local].Layer[globalArea].Control[nmrCamIn]"/>
    <TabSeqItem Index="19" Value="Source[local].Layer[globalArea].Control[nmrPPM1]"/>
  </TabSequence>
</Page>