<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.7.54 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="P0340_Language">
  <Property Name="BackColor" Value="8"/>
  <Property Name="Description" Value=""/>
  <Property Name="EditBackColor" Value="7"/>
  <Property Name="ForeColor" Value="8"/>
  <Property Name="Height" Value="768"/>
  <Property Name="Index" Value="340"/>
  <Property Name="LockedForeColor" Value="252"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
  <Property Name="Width" Value="1366"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Background]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Background"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[globalArea]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="globalArea"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="768"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1366"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <TextLayer LanguageId="tr-TR"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="txtSelect">
          <Property Name="Border" Value="Source[local].Border[GroupControl]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="Height" Value="224"/>
          <Property Name="Left" Value="674"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtLanguagePage]"/>
          <Property Name="TextIndexOffset" Value="11"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="331"/>
          <Property Name="Width" Value="405"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmp_Flag">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpLanguages]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="256"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="301"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="315"/>
          <Property Name="Width" Value="256"/>
        </Control>
        <Control ClassId="0x00001002" Name="cmdLanguageUp">
          <Property Name="BackColor" Value="45"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[ArrowsGlobalArea]"/>
          <Property Name="BitmapIndex" Value="16"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="Border" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="70"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="965"/>
          <Property Name="Locking" Value="Datapoint &gt;= Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="PressedBackColor" Value="148"/>
          <Property Name="PressedBitmapGroup" Value="Source[local].BitmapGroup[ArrowsGlobalArea]"/>
          <Property Name="PressedBitmapIndex" Value="15"/>
          <Property Name="PressedBitmapSource" Value="BitmapGroup"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Sunken]"/>
          <Property Name="PressedForeColor" Value="0"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="385"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[LanguageUp]"/>
          <Property Name="Width" Value="80"/>
        </Control>
        <Control ClassId="0x00001002" Name="cmdLanguageDown">
          <Property Name="BackColor" Value="45"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[ArrowsGlobalArea]"/>
          <Property Name="BitmapIndex" Value="10"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="Border" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="70"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="965"/>
          <Property Name="Locking" Value="Datapoint &gt;= Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="PressedBackColor" Value="148"/>
          <Property Name="PressedBitmapGroup" Value="Source[local].BitmapGroup[ArrowsGlobalArea]"/>
          <Property Name="PressedBitmapIndex" Value="9"/>
          <Property Name="PressedBitmapSource" Value="BitmapGroup"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Sunken]"/>
          <Property Name="PressedForeColor" Value="0"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[ScrollDown]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="465"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[LanguageDown]"/>
          <Property Name="Width" Value="80"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtLanguage">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Big26]"/>
          <Property Name="Height" Value="69"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="707"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtLanguagePage]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="423"/>
          <Property Name="Width" Value="162"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="LanguageUp">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="None"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="LanguageDown">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="None"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <LayerRef Source="Source[local].Layer[msgBox]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="msgBox"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="3"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Common_UserLogin]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Common_UserLogin"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="4"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Common_TopMenu]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Common_TopMenu"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="5"/>
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrPPM]">
      <Property Name="Down" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrCamIn]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrCamIn]">
      <Property Name="Down" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrCamOut]">
      <Property Name="Down" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrCamIn]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrProductLength]">
      <Property Name="Down" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[AlarmCurrent]">
      <Property Name="Down" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Up" Value="Source[local].Layer[Common_UserLogin].Control[String_Password]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Common_UserLogin].Control[String_Password]">
      <Property Name="Down" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
      <Property Name="Up" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Common_UserLogin].Control[stiUsername]">
      <Property Name="Down" Value="Source[local].Layer[Common_UserLogin].Control[String_Password]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    <TabSeqItem Index="1" Value="Source[local].Layer[Common_UserLogin].Control[String_Password]"/>
    <TabSeqItem Index="2" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
    <TabSeqItem Index="3" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
    <TabSeqItem Index="4" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
    <TabSeqItem Index="5" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
    <TabSeqItem Index="6" Value="Source[local].Layer[globalArea].Control[nmrCamIn]"/>
    <TabSeqItem Index="7" Value="Source[local].Layer[globalArea].Control[nmrPPM1]"/>
  </TabSequence>
</Page>