<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.7.54 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="P0910_Alarm">
  <Property Name="BackColor" Value="8"/>
  <Property Name="Description" Value="Template alarm page - current alarms"/>
  <Property Name="EditBackColor" Value="7"/>
  <Property Name="ForeColor" Value="8"/>
  <Property Name="Height" Value="768"/>
  <Property Name="Index" Value="910"/>
  <Property Name="LockedForeColor" Value="252"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
  <Property Name="Width" Value="1366"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Background]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Background"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="768"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1366"/>
      <Property Name="Z-Order" Value="1"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <TextLayer LanguageId="tr-TR"/>
        <IndexMap/>
      </TextGroup>
      <Controls/>
      <KeyMapping>
        <VirtualKey Name="AlarmUp">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016E">
              <Property Name="Control" Value="None"/>
              <Property Name="Description" Value=""/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="AlarmPgUp">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016E">
              <Property Name="Control" Value="None"/>
              <Property Name="Description" Value=""/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="AlarmPgDown">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016E">
              <Property Name="Control" Value="None"/>
              <Property Name="Description" Value=""/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="AlarmDown">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016E">
              <Property Name="Control" Value="None"/>
              <Property Name="Description" Value=""/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="AlarmAcknowledge">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016E">
              <Property Name="Control" Value="None"/>
              <Property Name="Description" Value=""/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="pageAlarmHistory">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[P0911_AlarmHistory]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <Layer Name="FrameLayer">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="768"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1366"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <TextLayer LanguageId="tr-TR"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001009" Name="AlarmCurrent">
          <Property Name="AcknowledgeState_Position" Value="None"/>
          <Property Name="AlarmNumber_Alignment" Value="Left"/>
          <Property Name="AlarmNumber_MinDigits" Value="3"/>
          <Property Name="AlarmNumber_Position" Value="Column 3"/>
          <Property Name="AlarmNumber_SeparatorTextGroup" Value="None"/>
          <Property Name="AlarmNumber_Width" Value="55"/>
          <Property Name="AlarmState_Position" Value="None"/>
          <Property Name="AlarmText_Alignment" Value="Left"/>
          <Property Name="AlarmText_Position" Value="Column 4"/>
          <Property Name="AlarmText_SeparatorTextGroup" Value="None"/>
          <Property Name="AlarmText_Width" Value="480"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BypassState_Position" Value="None"/>
          <Property Name="ColumnCount" Value="4"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Cursor_Border" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="Cursor_LeftBitmap" Value="None"/>
          <Property Name="Cursor_LeftTextGroup" Value="None"/>
          <Property Name="Cursor_RightBitmap" Value="None"/>
          <Property Name="Cursor_RightTextGroup" Value="None"/>
          <Property Name="DateTime_Alignment" Value="Left"/>
          <Property Name="DateTime_FormatStringBaseIndex" Value="1"/>
          <Property Name="DateTime_FormatStringTextGroup" Value="Source[global].TextGroup[DateTimeFormats]"/>
          <Property Name="DateTime_Position" Value="Column 1"/>
          <Property Name="DateTime_SeparatorTextGroup" Value="None"/>
          <Property Name="DateTime_Width" Value="130"/>
          <Property Name="Description" Value=""/>
          <Property Name="Event_Position" Value="None"/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="GroupNumber_Alignment" Value="Left"/>
          <Property Name="GroupNumber_MinDigits" Value="2"/>
          <Property Name="GroupNumber_Position" Value="Column 2"/>
          <Property Name="GroupNumber_SeparatorTextGroup" Value="None"/>
          <Property Name="GroupNumber_Width" Value="40"/>
          <Property Name="Height" Value="505"/>
          <Property Name="Left" Value="96"/>
          <Property Name="Node1" Value="User order"/>
          <Property Name="Priority_Position" Value="None"/>
          <Property Name="SortColumn" Value="Time"/>
          <Property Name="SortOrder" Value="Descending"/>
          <Property Name="Source" Value="Current"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="168"/>
          <Property Name="Width" Value="1173"/>
        </Control>
        <Control ClassId="0x00001002" Name="cmdAlarmPageHistory">
          <Property Name="BackColor" Value="45"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="93"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="453"/>
          <Property Name="PressedBackColor" Value="148"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Sunken]"/>
          <Property Name="PressedForeColor" Value="0"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtAlarmPage]"/>
          <Property Name="TextIndex" Value="2"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="675"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[pageAlarmHistory]"/>
          <Property Name="Width" Value="93"/>
        </Control>
        <Control ClassId="0x00001002" Name="cmdAcknowledge">
          <Property Name="BackColor" Value="45"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="93"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="639"/>
          <Property Name="PressedBackColor" Value="148"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Sunken]"/>
          <Property Name="PressedForeColor" Value="0"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="SpacingHorizontal" Value="8"/>
          <Property Name="SpacingVertical" Value="3"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtAlarmPage]"/>
          <Property Name="TextIndex" Value="0"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="675"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[btnResetAll]"/>
          <Property Name="Width" Value="93"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnAlarmUp">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="BackColor" Value="45"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[ArrowsGlobalArea]"/>
          <Property Name="BitmapIndex" Value="16"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="Border" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="93"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="825"/>
          <Property Name="PressedBackColor" Value="148"/>
          <Property Name="PressedBitmapGroup" Value="Source[local].BitmapGroup[ArrowsGlobalArea]"/>
          <Property Name="PressedBitmapIndex" Value="15"/>
          <Property Name="PressedBitmapSource" Value="BitmapGroup"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Sunken]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[GlobalAreaButton]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="675"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[vkAlarmUp]"/>
          <Property Name="Width" Value="93"/>
        </Control>
        <Control ClassId="0x00001002" Name="cmdAlarmPageHistory1">
          <Property Name="BackColor" Value="45"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="93"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="546"/>
          <Property Name="PressedBackColor" Value="148"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Sunken]"/>
          <Property Name="PressedForeColor" Value="0"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtAlarmPage]"/>
          <Property Name="TextIndex" Value="22"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="675"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[vkAalrmDetails]"/>
          <Property Name="Width" Value="93"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnAlarmDown">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="BackColor" Value="45"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[ArrowsGlobalArea]"/>
          <Property Name="BitmapIndex" Value="10"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="Border" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="93"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="732"/>
          <Property Name="PressedBackColor" Value="148"/>
          <Property Name="PressedBitmapGroup" Value="Source[local].BitmapGroup[ArrowsGlobalArea]"/>
          <Property Name="PressedBitmapIndex" Value="9"/>
          <Property Name="PressedBitmapSource" Value="BitmapGroup"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Sunken]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[GlobalAreaButton]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="675"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[vkAlarmDown]"/>
          <Property Name="Width" Value="93"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="btnResetAll">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016B">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="None"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="vkAalrmDetails">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="0"/>
              <Property Name="ValueDatapoint" Value="None"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="vkAlarmDown">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016E">
              <Property Name="Action" Value="Line Down"/>
              <Property Name="Control" Value="Source[local].Page[P0910_Alarm].Layer[FrameLayer].Control[AlarmCurrent]"/>
              <Property Name="Description" Value=""/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="vkAlarmUp">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016E">
              <Property Name="Action" Value="Line Up"/>
              <Property Name="Control" Value="Source[local].Page[P0910_Alarm].Layer[FrameLayer].Control[AlarmCurrent]"/>
              <Property Name="Description" Value=""/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <Layer Name="AlarmDetails">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="768"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1366"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <TextLayer LanguageId="tr-TR"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001005" Name="bmpBackground">
          <Property Name="Bitmap" Value="Source[local].Bitmap[BackTransparent]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="596"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="95"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="170"/>
          <Property Name="Width" Value="1177"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_AxisName">
          <Property Name="Border" Value="Source[local].Border[GroupControl]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle]"/>
          <Property Name="Height" Value="413"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="211"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtAlarmDetail]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="229"/>
          <Property Name="Width" Value="922"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_Transparent">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="628"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="120"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="97"/>
          <Property Name="Width" Value="1246"/>
        </Control>
        <Control ClassId="0x0000100B" Name="String_ErrText0">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="35"/>
          <Property Name="Left" Value="282"/>
          <Property Name="SimulationValue" Value="Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="407"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="Width" Value="800"/>
        </Control>
        <Control ClassId="0x0000100B" Name="String_ErrText1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="35"/>
          <Property Name="Left" Value="282"/>
          <Property Name="SimulationValue" Value="Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="441"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="Width" Value="800"/>
        </Control>
        <Control ClassId="0x0000100B" Name="String_ErrText2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="35"/>
          <Property Name="Left" Value="282"/>
          <Property Name="SimulationValue" Value="Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="476"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="Width" Value="800"/>
        </Control>
        <Control ClassId="0x0000100B" Name="String_ErrText3">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="35"/>
          <Property Name="Left" Value="282"/>
          <Property Name="SimulationValue" Value="Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="511"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="Width" Value="800"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_ErrorIDPLCOpen">
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="Height" Value="96"/>
          <Property Name="Left" Value="597"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtAlarmPage]"/>
          <Property Name="TextIndexOffset" Value="11"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="274"/>
          <Property Name="Width" Value="164"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_ErrorIDAcopos">
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="Height" Value="96"/>
          <Property Name="Left" Value="918"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtAlarmPage]"/>
          <Property Name="TextIndexOffset" Value="4"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="277"/>
          <Property Name="Width" Value="164"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_ErrorCount">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="Height" Value="96"/>
          <Property Name="Left" Value="282"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtAlarmPage]"/>
          <Property Name="TextIndexOffset" Value="6"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="274"/>
          <Property Name="Width" Value="164"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_ErrCount">
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="310"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="25638"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="318"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="110"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_ErrIDPLCOpen">
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="624"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="25638"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="318"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="110"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_ErrIDAcopos">
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Middle14]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="945"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="25638"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="318"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="110"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_Transparent1">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="633"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="181"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="135"/>
          <Property Name="Width" Value="993"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_RstALL">
          <Property Name="BackColor" Value="45"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="60"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="602"/>
          <Property Name="PressedBackColor" Value="148"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Sunken]"/>
          <Property Name="PressedForeColor" Value="0"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtAlarmPage]"/>
          <Property Name="TextIndex" Value="1"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="554"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[vkResetAllAxis]"/>
          <Property Name="Width" Value="158"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_RstOne">
          <Property Name="BackColor" Value="45"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="60"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="403"/>
          <Property Name="PressedBackColor" Value="148"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Sunken]"/>
          <Property Name="PressedForeColor" Value="0"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtAlarmPage]"/>
          <Property Name="TextIndex" Value="0"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="554"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[vkRstOneAxisError]"/>
          <Property Name="Width" Value="158"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_Back">
          <Property Name="BackColor" Value="45"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="60"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="801"/>
          <Property Name="PressedBackColor" Value="148"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Sunken]"/>
          <Property Name="PressedForeColor" Value="0"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtAlarmPage]"/>
          <Property Name="TextIndex" Value="9"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="554"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[vkBackAxisDetail]"/>
          <Property Name="Width" Value="158"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_AxIndexMinus">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="BackColor" Value="45"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[arrow_left_Black_Small_35]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Font" Value="Source[local].Font[Big26]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="60"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="282"/>
          <Property Name="Locking" Value="Datapoint &gt;= Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="PressedBackColor" Value="148"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[arrow_left_White_Small_35]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Sunken]"/>
          <Property Name="PressedForeColor" Value="0"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="554"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[vkBack]"/>
          <Property Name="Width" Value="80"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_AxIndexPlus">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="BackColor" Value="45"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[arrow_right_Black_Small_35]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Font" Value="Source[local].Font[Big26]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="60"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="1002"/>
          <Property Name="PressedBackColor" Value="148"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[arrow_right_White_Small_35]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Sunken]"/>
          <Property Name="PressedForeColor" Value="0"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="554"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[vkNext]"/>
          <Property Name="Width" Value="80"/>
        </Control>
        <Control ClassId="0x00001018" Name="Dropdown_1">
          <Property Name="BackColor" Value="40"/>
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="DropdownBackColor" Value="250"/>
          <Property Name="Height" Value="33"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="821"/>
          <Property Name="LeftBitmap" Value="None"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="0"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SelectedBackColor" Value="253"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtAlarmDetail]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="229"/>
          <Property Name="Width" Value="311"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="vkRstOneAxisError">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016B">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="None"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="vkResetAllAxis">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="None"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="vkBackAxisDetail">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="None"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="vkNext">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="None"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="vkBack">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="None"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <LayerRef Source="Source[local].Layer[globalArea]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="globalArea"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="4"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Common_UserLogin]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Common_UserLogin"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="5"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Common_TopMenu]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Common_TopMenu"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="6"/>
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[FrameLayer].Control[AlarmCurrent]">
      <Property Name="Down" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
      <Property Name="Right" Value="Source[local].Layer[Common_UserLogin].Control[String_Password]"/>
      <Property Name="Up" Value="Source[local].Layer[Common_UserLogin].Control[String_Password]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[AlarmDetails].Control[Dropdown_1]">
      <Property Name="Down" Value="Source[embedded].Layer[FrameLayer].Control[AlarmCurrent]"/>
      <Property Name="Left" Value="Source[embedded].Layer[FrameLayer].Control[AlarmCurrent]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[nmrCamIn]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrPPM]">
      <Property Name="Down" Value="Source[embedded].Layer[FrameLayer].Control[AlarmCurrent]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrCamIn]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrCamIn]">
      <Property Name="Down" Value="Source[embedded].Layer[AlarmDetails].Control[Dropdown_1]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrCamOut]">
      <Property Name="Down" Value="Source[embedded].Layer[FrameLayer].Control[AlarmCurrent]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrCamIn]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[nmrProductLength]">
      <Property Name="Down" Value="Source[embedded].Layer[FrameLayer].Control[AlarmCurrent]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[AlarmCurrent]">
      <Property Name="Down" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
      <Property Name="Up" Value="Source[embedded].Layer[FrameLayer].Control[AlarmCurrent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Common_UserLogin].Control[String_Password]">
      <Property Name="Down" Value="Source[embedded].Layer[FrameLayer].Control[AlarmCurrent]"/>
      <Property Name="Left" Value="Source[embedded].Layer[FrameLayer].Control[AlarmCurrent]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
      <Property Name="Up" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Common_UserLogin].Control[stiUsername]">
      <Property Name="Down" Value="Source[embedded].Layer[FrameLayer].Control[AlarmCurrent]"/>
      <Property Name="Left" Value="Source[embedded].Layer[FrameLayer].Control[AlarmCurrent]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[FrameLayer].Control[AlarmCurrent]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[AlarmDetails].Control[String_ErrText0]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[AlarmDetails].Control[String_ErrText1]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[AlarmDetails].Control[String_ErrText2]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[AlarmDetails].Control[String_ErrText3]"/>
    <TabSeqItem Index="6" Value="Source[embedded].Layer[AlarmDetails].Control[Numeric_ErrCount]"/>
    <TabSeqItem Index="7" Value="Source[embedded].Layer[AlarmDetails].Control[Numeric_ErrIDPLCOpen]"/>
    <TabSeqItem Index="8" Value="Source[embedded].Layer[AlarmDetails].Control[Numeric_ErrIDAcopos]"/>
    <TabSeqItem Index="9" Value="Source[embedded].Layer[AlarmDetails].Control[Dropdown_1]"/>
    <TabSeqItem Index="10" Value="Source[local].Layer[Common_UserLogin].Control[String_Password]"/>
    <TabSeqItem Index="11" Value="Source[local].Layer[Common_UserLogin].Control[stiUsername]"/>
    <TabSeqItem Index="12" Value="Source[local].Layer[globalArea].Control[nmrProductLength]"/>
    <TabSeqItem Index="13" Value="Source[local].Layer[globalArea].Control[nmrPPM]"/>
    <TabSeqItem Index="14" Value="Source[local].Layer[globalArea].Control[nmrCamOut]"/>
    <TabSeqItem Index="15" Value="Source[local].Layer[globalArea].Control[nmrCamIn]"/>
    <TabSeqItem Index="16" Value="Source[local].Layer[globalArea].Control[nmrPPM1]"/>
  </TabSequence>
</Page>