<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.7.54 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="P0310_System">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="800"/>
  <Property Name="Index" Value="310"/>
  <Property Name="LockedForeColor" Value="8"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
  <Property Name="Width" Value="480"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Background]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Background"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[globalArea]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="globalArea"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="800"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="480"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <TextLayer LanguageId="tr-TR"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="Button_SDM">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Right"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpService]"/>
          <Property Name="BitmapIndex" Value="6"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Font" Value="Source[local].Font[Middle_10]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="55"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="36"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedForeColor" Value="8"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtSingle2]"/>
          <Property Name="TextIndex" Value="5"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="148"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[vkSDM]"/>
          <Property Name="Width" Value="204"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_Network">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Right"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpService]"/>
          <Property Name="BitmapIndex" Value="9"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Font" Value="Source[local].Font[Middle_10]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="55"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="35"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedForeColor" Value="8"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtSingle2]"/>
          <Property Name="TextIndex" Value="15"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="211"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[vkNetwork]"/>
          <Property Name="Width" Value="204"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_DisplaySetup">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Right"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BmpService]"/>
          <Property Name="BitmapIndex" Value="7"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Font" Value="Source[local].Font[Middle_10]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="55"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="247"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedForeColor" Value="8"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtSingle2]"/>
          <Property Name="TextIndex" Value="14"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="148"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[vkDisplaySetup]"/>
          <Property Name="Width" Value="204"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="vkSDM">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[P0311_SDM]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="vkDisplaySetup">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[P0312_DisplaySetup]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="vkNetwork">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[P0313_NetworkSettings]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="vkHardwareCnfg">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[P0314_HwConfiguration]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="vkServicePage">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[P0320_Service]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <LayerRef Source="Source[local].Layer[Cmn_Toplayer]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Cmn_Toplayer"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="3"/>
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[globalArea].Control[AlarmCurrent]">
      <Property Name="Down" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
      <Property Name="Left" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
      <Property Name="Right" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
      <Property Name="Up" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[globalArea].Control[AlarmCurrent]"/>
  </TabSequence>
</Page>